<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.coachingforwellness.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://w22.winhost.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>coachingforwellness.com/</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>coachin2</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:s12.winhost.com;Initial Catalog=DB_99929_c4w;Integrated Security=False;User ID=DB_99929_c4w_user;Password=coach" Name="Data Source=tcp:s12.winhost.com;Initial Catalog=DB_99929_c4w;User ID=DB_99929_c4w_user;Password=coach;Integrated Security=False;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="C4W.Web.Models.ApplicationDbContext, C4W.Web" MigrationConfiguration="C4W.Web.Migrations.Configuration, C4W.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s12.winhost.com;Initial Catalog=DB_99929_c4w;User ID=DB_99929_c4w_user;Password=coach;Integrated Security=False;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>