@{
    ViewBag.Title = "Lo que somos";
}
<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/Images/Carousel/CONTACTO 3.jpg" style="width:100%;" class="img-responsive"/>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="parrafo-margin">Somos una organización que promueve el bienestar en todos los aspectos de la vida.
            Coaching For Wellness (CFW) fue creado por Susan Seidman y Annie Torres, ambas
            Máster Coaches Certificadas (MCC por sus siglas en inglés) y pioneras en la profesión
            de coaching en los Estados Unidos, Puerto Rico y Latinoamérica.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/Images/imagenesNuevas/mision.PNG" style="width:100%;" class="img-responsive"/>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p  class="parrafo-margin">Nuestra misión es brindar un esquema de pensamiento holístico y empoderado a
            individuos y organizaciones, mediante el arte del coaching transformacional.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/Images/imagenesNuevas/vision.PNG" style="width:100%;" class="img-responsive"/>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p  class="parrafo-margin">Nuestra visión es participar en la evolución de la transformación global,
            ofreciendo el proceso de coaching como un camino viable hacia la expansión de la
            conciencia humana, resultando en la realización del potencial de los seres.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/Images/imagenesNuevas/valores.PNG" style="width:100%;" class="img-responsive" />
    </div>
</div>
<div class="row">
    <div class=" col-lg-offset-3 col-lg-3 col-sm-6 col-xs-6">
        <ul style="font-size: 2em;">
            <li>Amor</li>
            <li>Autenticidad</li>
            <li>Bondad</li>
            <li>Compasión</li>
            <li>Congruencia</li>
            <li>Creatividad</li>
        </ul>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-6">
        <ul style="font-size: 2em;">
            <li>Empatía</li>
            <li>Gratitud</li>
            <li>Integridad</li>
            <li>Pasión</li>
            <li>Servicio</li>
            <li>Visión</li>
        </ul>
    </div>
</div>