@using System.Security.Policy
@{
    ViewBag.Title = "Coaching for wellness";
}

<div class="row">
    <div class="col-xs-12  widget-container">
        @GUI.Carousel(new string[] {"1 FRONT.jpg", "2 FRONT.jpg", "3 FRONT.jpg", "4 FRONT.jpg"}, new string[] {"~/Home/Hacemos?section=team", "~/Home/Agenda", "~/Home/About", "~/Home/Hacemos"})
    </div>
</div>

<div class="row">
    ESPACIO PARA EL VIDEO
</div>
<div class="row">
    <a href="~/Home/Agenda"><img src="~/Content/Images/imagenesNuevas/agenda.PNG" class="img-responsive img-home" /></a>
</div>
<div class="row">
    <a href="http://www.c4w.co/login/index.php"><img src="~/Content/Images/imagenesNuevas/moodle.PNG" class="img-responsive img-home" /></a>
</div>
<div class="row" style="margin-top: 10px;">
    <a href="~/Home/Pagos"><img src="~/Content/Images/imagenesNuevas/pagoOnline.PNG" class="img-responsive img-home" /></a>
</div>