
@{
    ViewBag.Title = "Pensamos";
}

<div class="row">
    <div class="col-xs-12  widget-container">
        @GUI.Carousel(new string[] { "PENSAMOS 1.jpg", "PENSAMOS 2.jpg", "PENSAMOS 3.jpg", "PENSAMOS 4.jpg" })
    </div>
</div>

