
@{
    ViewBag.Title = "Servicios";
}

<div class="row">
    <div class="col-lg-12" id="texo-servicio-img">
        <!--<img src="~/Content/Images/img-servicios.jpg" class="img-responsive" style="width:100%;height:600px" />-->
        <h1 class="visible-lg visible-md texto-helper">SERVICIOS</h1>
        <h1 class="visible-sm visible-xs texto-helperm">SERVICIOS</h1>
    </div>
</div>

<div class="container" style="margin-top:20px">
    <div class="row">
        <div class="col-lg-12 servicios-texto">
            <img src="~/Content/Images/imagen 17.png" class="img-responsive escala" style="width:100%;height:250px" />
            <h1>COACHING <br />EJECUTIVO</h1>
        </div>
        <br />
        <div class="col-lg-12">
            <p>Asiste y apoya a los ejecutivos a:</p>
            <ul>
                <li>Identificar y sobrepasar retos de liderazgo, así como satisfacer el
                 potencial de los ejecutivos.</li>
                <li>Mejorar y enriquecer destrezas relacionadas con estrategias,
                comunicación y toma de decisiones, entre otras.</li>
                <li>Minimizar la rotación de empleados; desarrollar y promover el trabajo
                en equipo; e inspirar un alto desempeño en las personas.</li>
                <li>
                    Visualizar y planificar una trayectoria profesional satisfactoria y
                    sostenible.
                </li>
                <li>
                    Establecer un equilibrio entre el trabajo, la familia y el tiempo
                    personal, logrando sobresalir en todas las áreas.
                </li>
            </ul>
        </div>
        <br />
        <div class="col-lg-12 servicios-texto">
            <img src="~/Content/Images/imagen 18.png" class="img-responsive" style="width:100%;height:250px" />
            <h1>COACHING <br />EQUIPOS</h1>
        </div>
        <br />
        <div class="col-lg-12">
            <p>Asiste a los miembros del equipo y al equipo a:</p>
            <ul>
                <li>
                    Crear una práctica reflexiva en cuanto a lo que se está realizando para
                    lograr la meta, tanto a nivel individual como grupal.
                </li>
                <li>
                    Identificar y comprender los estilos de comunicación de cada miembro
                    del equipo.
                </li>
                <li>
                    Avaluar el pareo entre cada miembro y las responsabilidades.
                </li>
                <li>
                    Facilitar la conexión y el respeto.
                </li>
                <li>
                    Identificar y alinear los valores del equipo según se relacionan con los
                    valores de sus metas.
                </li>
                <li>Crear un ambiente abierto que nutre y promueve la capacidad de
                examinar el comportamiento para identificar aquellas conductas que
                apoyan o no el cumplimiento de la meta.</li>
            </ul>
        </div>
        <br />
        <div class="col-lg-12 servicios-texto">
            <img src="~/Content/Images/Imagen coahcing individual.png" class="img-responsive" style="width:100%;height:250px" />
            <h1>COACHING <br /> INDIVIDUAL</h1>
        </div>
        <br />
        <div class="col-lg-12">
            <p>Ofrecemos servicios individualizados de coaching:</p>
            <ul>
                <li>
                    Coaching de vida
                </li>
                <li>
                    Coaching ejecutivo y de negocios (Ej., equipos, ventas)
                </li>
                <li>
                    Coaching de relaciones
                </li>
                <li>
                    Coaching de bienestar
                </li>
                <li>
                    Coaching espiritual
                </li>
            </ul>
            <p>Contáctenos para información adicional sobre nuestros servicios.</p>
        </div>
        <div class="col-lg-12 servicios-texto">
            <img src="~/Content/Images/imagen charlas en linea.png" class="img-responsive" style="width:100%;height:250px" />
            <h1>CHARLAS <br /> EN LÍNEA</h1>
        </div>
        <div class="col-lg-12">
            <br />
            <p>Ofrecemos charlas virtuales (webinars) sobre diversos temas para:</p>
            <ul>
                <li>Interesados en conocer más información sobre coaching y/o recibir servicios de coaching</li>
                <li>Interesados en formarse como coaches</li>
                <li>Coaches certificados</li>
                <li>Público en general</li>
            </ul>
            <p>Contáctenos para información adicional sobre nuestras charlas y otros eventos.</p>
        </div>
        <div class="col-lg-12 servicios-texto">
            <img src="~/Content/Images/imagen mentorias.png" class="img-responsive" style="width:100%;height:250px" />
            <h1>MENTORIAS <br /> PARA<br />COACHES</h1>
        </div>
        <div class="col-lg-12">
            <p>
                Ofrecemos servicios individualizados y grupales de mentoría en coaching dirigidos a coaches en formación y/o certificados que deseen mejorar sus destrezas de coaching, o para coaches interesados en cumplir con el requisito de mentorías  que les permita solicitar credenciales ante la ICF.
                Contáctenos para información adicional sobre nuestros programa.
            </p>
        </div>
    </div>
</div>
